body {
    font-family: 'Roboto', sans-serif;
}

.firstsection {
    display: flex;
    flex-direction: column;
    background-color: #1F2937   ;
    height: 520px;
    gap: 90px;
    margin: -8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    gap: 16px;
  }

a:link {
    text-decoration: none;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.information .text {
    /*display: flex;
    flex-direction: column;
    width: 400px */
    flex-basis: 400px;
}

.information .text button {
    background-color: #1253E1;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    border: none;
}

.information .text h2 {
    font-size: 48px;
}

.header .right {
    font-size: 18px;
    color: #E5E7EB;
}

.information .image {
    display: flex;
    width: 600px;
    height: 315px;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.secondsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.innercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
    margin-bottom: -40px;
}

.secondsection p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 0px;
}

.displays {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.firstdisplay,
.seconddisplay,
.thirddisplay,
.fourthdisplay {
    width: 150px;
}

.box1,
.box2,
.box3, 
.box4 {
    width: 140px;
    height: 140px;
    color: aqua;
    border: 2px solid #3882F6;
    border-radius: 6px;
}

.caption {
    text-align: center;
    margin-top: 12px;
}

/* third section */

.thirdsection {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    margin: -8px;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.thirdsection p {
    display: flex;
    justify-content: center;
}

.author p {
    padding-left: 600px;
    margin-top: -30px;
}

.fourthsection {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #1253E1;
    border-radius: 8px;
    margin-left: 250px;
    width: 800px;
    height: 50px;
    padding: 35px;
    gap: 100px;
    line-height:0px;
}

.fourthsection div :first-child{
    font-size: 18px;
    font-weight: 20;
}

.fourthsection button {
    height: 40px;
    width:150px;
    margin-top: 10px;
    border-radius: 8px ;
    border: none solid white;
    background-color: #1253E1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(25, 33, 44);
    margin-top: 100px;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
}